# Language detection
*.php linguist-detectable=true
*.js linguist-detectable=true
*.css linguist-detectable=true
*.html linguist-detectable=true

# Ignore vendor files
/vendor/* linguist-vendored

# Ignore node_modules files
/node_modules/* linguist-vendored
